/* resources/scss/app.scss */

// Import Bootstrap SCSS
@use 'bootstrap/scss/bootstrap' as *;

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  --bs-dropdown-bg: rgba(var(--bs-primary-rgb));
  --bs-dropdown-link-hover-bg: #93c9ff;
}

.dropdown-item {
  color: #ffffff;
}

// Keyframe animation
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.centerblock {
  display: block;
  max-width: 50%;
  text-align: center;
}

// Parent container styles
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

// Animated child element
.child {
  animation: slideDown 1s ease-out forwards;
  opacity: 0;
  padding: 20px;
}

.event-container{
  transition: transform 0.5s ease;
  display:flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  .event-box{
    margin:10px;
    min-width: 15em;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    img{
      max-width: 15em;
      max-height: 15em;
      width: 100%;
      height: auto;
    }
  }

    
}
  


